<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Vous êtes sur la page d'accueil d'un privé</h1>

    <%= link_to('Entrer dans le club privé', secret_path, class: "btn btn-lg btn-primary") %>
  </div>
</div>
