<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= "Hey #{@user.first_name} ! Bienvenue dans le club ultra privé !"%></h1>
    <p><%= "Ton ID est #{@user.id}, ne l'oublie pas, tu en auras besoin pour tes prochaines connections !"%></p>
  </div>
</div>
