<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= "Hey #{@user.first_name} !"%></h1>
    <h2>Bienvenue dans le club ultra privé !</h2>
    <p><%= "Ton ID est #{@user.id}, ne l'oublie pas !"%></br>
    <p>Tu en auras besoin pour tes prochaines connections !</p>
  </div>
</div>
